body {
  font-family: "Roboto", sans-serif;
}
.content {
  max-width: 680px;
  min-width: 520px;
  background: #fff7f9;
  margin: 30px auto;
  border-radius: 4px;
  padding: 30px 20px;
}
.content:hover {
  border: 1.5px dashed #ff3366;
}

.city-form {
  margin-left: 15px;
}
.btn {
  background: rgb(249 146 172 / 91%);
  padding: 3px 5px;
  font-size: 14px;
}

.bi {
  filter: invert(37%) sepia(52%) saturate(4178%) hue-rotate(324deg)
    brightness(98%) contrast(107%);
}

.icon {
  position: relative;
  top: 50px;
  left: 80px;
}

svg.small-icon {
  width: 30px;
  height: 60px;
  padding-top: 10px;
}

h1,
h3 {
  color: #616074;
  font-weight: bold;
}
h1 {
  font-size: 34px;
}

.current-temperature {
  font-weight: bold;
  font-size: 52px;
  color: #ff3366;
}
.units {
  color: #616074;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: -25px;
  left: -3px;
}
#degree-C {
  color: #ff3366;
}

.active {
  color: #616074;
}

.active:hover {
  cursor: pointer;
  text-decoration: underline;
}

.status,
.temperature {
  background: rgb(249 146 172 / 20%);
  border: 1.5px solid #ff3366;
  border-radius: 2px;
  text-align: center;
  color: #ff3366;
  padding: 8px 0;
  margin: 0 14px;
}

h3 {
  font-size: 14px;
  position: relative;
  right: 15px;
  bottom: -15px;
}

.updated-time {
  font-size: 13px;
  margin-bottom: 10px;
}

.next-days {
  text-align: center;
  font-size: 14px;
  color: #616074;
  position: relative;
  left: 50px;
}

.credit {
  display: block;
  text-align: center;
  position: relative;
  bottom: 30px;
}
.credit-link {
  color: #ff3366be;
  text-decoration: none;
}

em {
  font-size: 10px;
  color: #616074;
}
